# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v2
      with: 
        node-version: 8.x
    - run: |
        npm install
        npm run build --if-present
    - name: Deploy
      uses: yeachiu/SCAM-front_end@master
      with:
        ACCESS_TOKEN: ${{ secrets.accessToken }}
        BRANCH: master
        FOLDER: dist
        BUILD_SCRIPT: npm install && npm run build
